<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/logo_labo.jpg" alt="" width="48">
        </a>

        <nav>
            <a href="/">Accueil</a>
            <a href="/about">Présentation</a>
            <a href="/jeux">Jeux</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>
</html>